@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-10-16_144438/fonts/Helvetica/font.ttf');
}
